* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

/* Header */
.navegar {
  background-color: rgb(0, 0, 0);
  width: 100%;
}

.navegacion ul li a {
  color: white;
  font-weight: bold;
}

.navbar-toggler {
  background-color: white;
}

.navegante {
  background: linear-gradient(to bottom, #41436a, #974063);
  border-top: 2px solid black;
}
.navegante ul li a {
  font-weight: bold;
}

@media (min-width: 768px) {
  .navegar {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.205);
    width: 100%;
  }
  .navegacion ul li a {
    color: white;
    font-weight: bold;
  }
  .navbar-toggler {
    background-color: white;
  }
}
/* Footer */
footer {
  background: linear-gradient(to bottom, #f54768, #ff9677);
  border-top: 1px solid rgba(0, 0, 0, 0.616);
}
footer text h3 {
  text-align: center;
  padding: 10px;
}
footer div a {
  text-decoration: none;
}
footer ul {
  display: flex;
  justify-content: center;
  gap: 10px;
}

/* Banner */
.slider {
  height: 90vh;
  width: 100%;
  background-image: url(../imagenes/banner\ 3.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  color: #098a88;
  text-align: center;
  font-size: 2rem;
}

.slider h2 {
  background-color: rgba(0, 0, 0, 0.726);
  border-radius: 5%;
}

.slider h2:hover {
  font-size: 4rem;
  transition-property: all;
  transition-duration: 500ms;
}

.btn-wsp {
  position: fixed;
  width: 55px;
  height: 55px;
  line-height: 55px;
  bottom: 30px;
  right: 30px;
  background: #0df053;
  color: #fff;
  border-radius: 50px;
  text-align: center;
  font-size: 30px;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.3);
  z-index: 100;
}
.btn-wsp:hover {
  text-decoration: none;
  color: #0df053;
  background: #fff;
}

.banner {
  background: linear-gradient(to bottom, #974063, #f54768);
  width: 100%;
  height: 57vh;
  color: black;
}
@media (min-width: 768px) {
  .banner {
    background-image: url(../imagenes/bannercero.jpg);
    width: 100%;
    height: 95vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
  }
}
.banner .titulo__banner {
  text-align: start;
}
@media (min-width: 768px) {
  .banner .titulo__banner {
    transform: translate(0px, 140px);
  }
}
.banner .titulo__banner h2 {
  font-size: 2.5rem;
  padding: 10px 0px;
}
@media (min-width: 768px) {
  .banner .titulo__banner h2 {
    font-size: 3.5rem;
    padding: 10px 0px;
  }
}
.banner .titulo__banner h3 {
  font-size: 1rem;
  padding-bottom: 10px;
}
@media (min-width: 768px) {
  .banner .titulo__banner h3 {
    font-size: 1.5rem;
    padding-bottom: 10px;
  }
}
.banner .titulo__banner a {
  background-color: #974063;
  color: black;
  font-weight: bold;
}
@media (min-width: 768px) {
  .banner .titulo__banner a {
    background-color: #974063;
    color: black;
  }
}

.fila__inicio .img__inicio {
  padding: 0;
  margin: 0;
}
.fila__inicio .texto__inicio--uno {
  background-color: black;
  color: white;
}
.fila__inicio .texto__inicio--dos {
  background-color: #974063;
  color: black;
}
.fila__inicio .texto__inicio {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}
.fila__inicio .texto__inicio h2 {
  font-weight: bold;
  font-size: 2.5rem;
}
.fila__inicio .texto__inicio a {
  background-color: #974063;
  border: 2px solid black;
  color: black;
  font-weight: 600;
}

.titulo {
  text-align: center;
  padding: 10px;
  background: linear-gradient(to bottom, #974063, #f54768);
  border-bottom: 2px solid rgba(0, 0, 0, 0.589);
}

.Contenedor__tarjeta {
  display: flex;
  flex-flow: column nowrap;
  padding: 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: #f54768;
}
@media (min-width: 768px) {
  .Contenedor__tarjeta {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: stretch;
    width: 100%;
    padding: 10px;
  }
}
@media (min-width: 1200px) {
  .Contenedor__tarjeta {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(2, auto);
    grid-template-areas: "princ inter inter" "princ dif dif";
  }
}
.Contenedor__tarjeta .Tarjeta__princ {
  box-shadow: 4px 4px 4px black;
  grid-area: princ;
}
@media (min-width: 1200px) {
  .Contenedor__tarjeta .Tarjeta__princ {
    font-size: 1.5rem;
  }
}
.Contenedor__tarjeta .Tarjeta__inter {
  box-shadow: 4px 4px 4px black;
  grid-area: inter;
}
.Contenedor__tarjeta .Tarjeta__dif {
  box-shadow: 4px 4px 4px black;
  grid-area: dif;
}
.Contenedor__tarjeta .Tarjeta {
  display: flex;
  flex-flow: column nowrap;
  padding: 10px;
  justify-content: center;
  align-items: center;
  border: 3px solid black;
  border-radius: 10px;
  text-align: justify;
  gap: 10px;
}
@media (min-width: 1200px) {
  .Contenedor__tarjeta .Tarjeta {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
  }
}
.Contenedor__tarjeta .Tarjeta .Tarjeta__titulo {
  height: 50vh;
  width: 100%;
  background-image: url(../imagenes/GYM-01.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  text-align: center;
  color: #98dad9;
}
@media (min-width: 768px) {
  .Contenedor__tarjeta .Tarjeta .Tarjeta__titulo {
    background-size: contain;
  }
}
.Contenedor__tarjeta .Tarjeta .Tarjeta__titulo--intermedio {
  background-image: url(../imagenes/GYM-02.jpg);
}
.Contenedor__tarjeta .Tarjeta .Tarjeta__titulo--dificil {
  background-image: url(../imagenes/GYM-03.jpg);
}
.Contenedor__tarjeta .Tarjeta__boton {
  background-color: black;
  color: white;
  padding: 5px;
  border: 3px solid black;
  border-radius: 10%;
}
.Contenedor__tarjeta .Tarjeta__boton:hover {
  color: black;
  border: 3px solid black;
  background-color: #f54768;
  transition-property: all;
  transition-duration: 500ms;
}
.Contenedor__tarjeta .Tarjeta__parrafo {
  height: 60%;
}
@media (min-width: 1200px) {
  .Contenedor__tarjeta .Tarjeta__parrafo {
    height: auto;
  }
}

.contenedor__ubicacion {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-image: url(../imagenes/ubicacion.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 10px;
  gap: 10px;
}
.contenedor__ubicacion .ubicacion {
  box-shadow: 5px 5px 5px #41436a;
}
.contenedor__ubicacion .ubicacion .ubicacion__titulo {
  text-align: center;
  background-color: #f54768;
}

.contenedor__servicios {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  background-image: url(../imagenes/servicios.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  gap: 10PX;
}
.contenedor__servicios .servicios {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
  border-radius: 20px;
  background-color: rgba(128, 128, 128, 0.493);
  padding: 10px;
  margin: 10px;
  box-shadow: 4px 4px 4px black;
}
@media (min-width: 768px) {
  .contenedor__servicios .servicios {
    flex-flow: row nowrap;
    justify-content: space-between;
  }
}
.contenedor__servicios .servicios__parrafo {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  text-align: left;
  color: white;
  text-align: center;
}
@media (min-width: 768px) {
  .contenedor__servicios .servicios__parrafo {
    text-align: start;
    padding: 10px;
  }
}
.contenedor__servicios .servicios__parrafo h3 {
  font-size: 2REM;
  margin-top: 20px;
}
.contenedor__servicios .servicios__parrafo ul {
  margin-bottom: 10px;
}
.contenedor__servicios .servicios__reverse {
  display: flex;
  flex-flow: row-reverse nowrap;
  justify-content: space-around;
  align-items: center;
  border-radius: 20px;
  background-color: rgba(128, 128, 128, 0.377);
  padding: 10PX;
  margin: 10px;
  box-shadow: 4px 4px 4px black;
}
@media (min-width: 768px) {
  .contenedor__servicios .servicios__reverse {
    flex-flow: row-reverse nowrap;
    justify-content: space-between;
  }
}

.contenedor__consultas {
  background-image: url(../imagenes/consultas.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-flow: column nowrap;
  color: black;
  align-items: center;
  gap: 10px;
  padding: 10px;
  font-weight: 500;
  font-size: 1.15rem;
}
@media (min-width: 768px) {
  .contenedor__consultas {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    padding: 30px;
  }
}
@media (min-width: 768px) {
  .contenedor__consultas .consultas {
    width: 50%;
  }
}
.contenedor__consultas .consultas .consultas__lista {
  display: flex;
  justify-content: space-around;
}
@media (min-width: 768px) {
  .contenedor__consultas .consultas .consultas__lista {
    padding-top: 20px;
  }
}

.formulario {
  box-shadow: 4px 4px 4px black;
}
.formulario form {
  background-color: #f54768;
  padding: 10px;
  font-weight: bold;
}
.formulario form .formulario__titulo {
  text-align: center;
}
.formulario form .fila {
  display: flex;
  flex-flow: column nowrap;
  margin-top: 10px;
}
.formulario form .formulario__boton {
  text-align: center;
  padding: 10px;
}
.formulario form div input {
  box-shadow: 4px 4px 4px black;
}
.formulario form div textarea {
  box-shadow: 4px 4px 4px black;
}

/*# sourceMappingURL=styles.css.map */
