.contenedor__consultas {
    background: url(../imagenes/background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-flow: column nowrap;
    color: black;
    align-items: center;
    gap: 10px;
    padding: 10px;
    font-size: 1.5rem;
    text-align: center;

    
    @media(min-width: 768px) {
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-around;
            padding: 30px;
        }
    .consultas{
        font-family: 'Bebas Neue', cursive ;
        @media(min-width: 768px) {
                width: 50%;
            }
        &__lista {
            display: flex;
            justify-content: space-around;
            a{
                i{
                    color: #974063;
                    transition: all 0.3s;

                    &:hover {
                       font-size: 30px;
                       text-shadow: 2px 2px 5px black
                    }
                }
            }
            @media(min-width: 768px) {
                    padding-top: 20px;
            } 
        }
    }
}
.formulario {
    box-shadow: 4px 4px 4px black;
    @media (max-width: 768px){
        width: 100%;
    }
    form {
        background-color:#974063;
        padding: 10px;
        font-family: 'Bebas Neue', cursive ;
        border-radius: 15px;
        .formulario__titulo {
            text-align: center;
        
        }

        .fila {
            display: flex;
            flex-flow: column nowrap;
            margin-top: 10px;
            label{
                font-family: 'Roboto Slab', serif;
            }
        }

        .formulario__boton {
            text-align: center;
            padding: 10px;
            input{
                border: 2px solid black;
                border-radius: 15%;
                box-shadow: 0 0 0 black;
                background-color: #974063;
                transition: all 1s;
                font-family: 'Roboto Slab', serif;
                color: black;
                &:hover{
                    background-color: black;
                    color: #974063;
                    border: 2px solid #974063;
                }
            }

        }
        div{
            input{
                box-shadow: 4px 4px 4px black;
            }
            textarea{
                box-shadow: 4px 4px 4px black;
            }
        }
    }
}
