//BANNER RESPOSIVE
.banner {
  background: linear-gradient(to bottom, $color-uno, $color-cuatro);
  width: 100%;
  height: 55vh;
  color: black;

  @media(min-width: 768px) {
    background-image: url(../imagenes/bannercero.jpg);
    width: 100%;
    height: 95vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
  }

  .titulo__banner {
    text-align: center;
    margin-top: 90px;

    @media(min-width: 768px) {
      margin-top: 0;
      transform: translate(0px, 155px);
    }

    h1 {
      font-size: 2.5rem;
      padding: 10px 0px;
      font-family: 'Bebas Neue', cursive;

      @media(min-width: 768px) {
        font-size: 3.5rem;
        padding: 10px 0px;
      }
    }

    h2 {
      font-size: 1rem;
      padding-bottom: 10px;

      @media(min-width: 768px) {
        font-size: 1.8rem;
        padding-bottom: 10px;
      }
    }

    a {
      background-color: $color-uno;
      border: 2px solid black;
      color: black;
      font-family: 'Roboto Slab', serif;

      &:hover {
        background-color: black;
        color: $color-uno;
        border: 2px solid $color-uno;

      }
    }
  }
}

//SECCION DE CONTENIDO
.fila__inicio {
  gap: 10px;
  padding: 10px;
  background: url(../imagenes/background.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  @media(min-width: 768px) {
    gap: 0;
    padding: 0;
  }

  .img__inicio {
    padding: 0;
    margin: 0;
  }

  .texto__inicio--uno {
    background-color: black;
    color: white;
  }

  .texto__inicio--dos {
    background-color: $color-uno;
    color: black;
  }

  .texto__inicio {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: center;
    text-align: center;

    h2 {
      font-family: 'Bebas Neue', cursive;
      font-size: 2.8rem;
    }

    a {
      background-color: $color-uno;
      border: 2px solid black;
      color: black;
      font-family: 'Roboto Slab', serif;

      &:hover {
        background-color: black;
        color: $color-uno;
        border: 2px solid $color-uno;

      }

    }

    .btndos {
      background-color: black;
      color: $color-uno;
      border: 2px solid $color-uno;

      &:hover {
        background-color: $color-uno;
        color: black;
        border: 2px solid black;
      }
    }
  }
}