.contenedor__servicios {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    background-image: url(../imagenes/servicios.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    gap: 10PX;

    @media(min-width:1200px) {
        display: grid;
        grid-template-columns: repeat(3, auto);
        grid-template-rows: repeat(6, auto);
        grid-template-areas:
            "musc musc fun"
            "musc musc fun"
            "ga ga fun"
            "ga ga yog"
            "zumb zumb yog"
            "zumb zumb yog";
    }

    .servicios {
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-around;
        align-items: center;
        border-radius: 20px;
        background-color: rgba(128, 128, 128, 0.493);
        padding: 10px;
        margin: 10px;
        box-shadow: 4px 4px 4px black;

        @media(min-width: 768px) {
            flex-flow: row nowrap;
            justify-content: space-between;
        }

        .Servicios__img {
            border-radius: 10px;
            box-shadow: 2px 2px 2px gray;
        }

        &__parrafo {
            display: flex;
            flex-flow: column nowrap;
            justify-content: space-around;
            text-align: left;
            color: white;
            text-align: justify;

            @media(min-width: 768px) {
                text-align: start;
                padding: 10px;
            }

            h3 {
                font-size: 2REM;
                margin-top: 20px;
                text-align: center;
            }

            ul {
                margin-bottom: 10px;
                list-style: circle;
                text-align: justify;
            }
        }
    }

    .musc {
        grid-area: musc;
    }

    .gap {
        grid-area: ga;
    }

    .fun {
        grid-area: fun;

        @media(min-width:1200px) {
            flex-flow: column nowrap;
        }
    }

    .zumb {
        grid-area: zumb;
    }

    .yog {
        grid-area: yog;

        @media(min-width:1200px) {
            flex-flow: column nowrap;
        }
    }
}