.contenedor__ubicacion {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-image: url(../imagenes/ubicacion.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 10px;
    gap: 10px;


    .ubicacion {
        box-shadow: 5px 5px 5px $color-uno;
        .ubicacion__titulo {
            text-align: center;
            background-color: $color-tres;
        }
        .ubicacion__mapa{
            @media (max-width: 768px) {
                width: 100%;
            }
        }
    }
}