/* PAGINA DE UBICACION */
//COMIENZO DEL CONTENIDO
.contenedor__ubicacion {
    display: flex;
    flex-flow: column nowrap;
    background: url(../imagenes/background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* HORARIOS */
//COMIENZO DE SECCION HORARIOS
    .horarios{
        text-align: center;
        .neon{
            display: inline-block;
            margin: 10px;
            width: 55px;
            height: 55px;
            line-height: 55px;
            bottom: 30px;
            right: 30px;
            color: $color-uno;
            border-radius: 50px;
            text-align: center;
            font-size: 30px;
            box-shadow: 0px 1px 10px  $color-uno;
        }
        
        .neon:hover{
            text-decoration: none;
            color: white;
            background: $color-uno;
        }
        h2{
            font-family: 'Bebas Neue', cursive ;
        }
        ul{
            @media(min-width: 768px) {
                display: flex;
                flex-flow: row nowrap;
                justify-content: space-around;
            }
            span{
                font-size: 20px;
                font-family: 'Roboto Slab', serif ;
            }
            li{
                list-style:circle;
            }
        }
    }
    /* UBICACION */
//COMIENZO DE SECCION DE UBICACION
    .contenedor_preubicacion{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        padding: 10px;
        gap: 10px;
    }

    .ubicacion {
        box-shadow: 5px 5px 5px black;

        &__titulo {
            text-align: center;
            background-color: $color-uno;
            color: black;
            font-family: 'Bebas Neue', cursive;
        }

        &__mapa {
            @media (max-width: 768px) {
                width: 100%;
            }
        }
    }
}
/* FIN PAGINA DE UBICACION */
