/* Footer */
footer {
    background: linear-gradient(to top, #2e424d, #5b8291);
   border-top: 1px solid rgba(0, 0, 0, 0.616);
 h3{
    text-align: center;
    padding: 10px;
   }
   ul{
    display: flex;
    justify-content: center;
    gap: 10px;
   }
}