/* Header */
.navegar{
  background-color:  rgb(0, 0, 0);
  width: 100%;
}
.navegacion ul li a{
  color: #974063;
  font-weight: bold;
}
.navbar-toggler{
  background-color: white;
}

.navegante{
  position: relative;
  background-color: black; 
    ul li a{
        font-weight: bold;
    }
}
@media(min-width: 768px) {
.navegar{
    position: absolute;
    background-color:  rgba(0, 0, 0, 0.205);
    width: 100%;
  }
  }